<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApqQkLIR2FkwQFs8tsafnXIJife14OHMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1021535021515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mri-scan-analysis</string>
	<key>PROJECT_ID</key>
	<string>mri-scan-analysis</string>
	<key>STORAGE_BUCKET</key>
	<string>mri-scan-analysis.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021535021515:ios:7444a14ebd2d2ac6deee4e</string>
</dict>
</plist>